* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
.navigationBar {
  display: flex;
  align-items: center;
  height: auto;
  position: fixed;
  background-color: rgb(255, 255, 105);
  justify-content: space-between;
  width: 100%;
}
.navigationBar a {
  text-decoration: none;
  font-size: 22px;
  color: #00000091;
  padding: 15px 15px;
  border-radius: 20px;
}
.navigationBar a:hover {
  background-color: azure;
}
/* #main{
    display: flex;
    justify-content: space-evenly;
    background-color: #00000091;
    height: auto;
} */
.page1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../omen-valorant-episode-8-cinematic-game-hd-wallpaper-uhdpaper.com-662@1@n.jpg");
}
.page1 p {
  color: white;
  font-size: 50px;
}
.page2 {
  height: auto;
  background-color: #00000091;
  padding: 10px;
  font-weight: bold;
}
.page2 img {
  object-fit: cover;
  /* height: 100; */
}
.inside {
  display: flex;
  justify-content: space-around;
  /* align-items: flex-end;
  word-wrap: normal; */
  object-fit: cover;

  color: white;
}
.inside img {
  justify-content: flex-end;
  width: 535px;
}
.inside p {
  font-size: 20px;
}
.inside1 {
  display: flex;
  /* text-align: right; */
  /* align-items: flex-end; */
  /* word-wrap: normal; */
  font-weight: bold;
  color: white;
}
.page3 {
  background-color: #00000091;
  padding: 10px;
  font-weight: bold;
}
.page3 img {
  object-fit: cover;
  justify-content: space-around;
}

input {
  padding: 5px;
  margin: 8px;
  
}
.youtube {
  height: auto;
  display: flex;
  justify-content: center;
  
   padding: 25px 25px;
}
.logo {
  height: 50px;
  border-radius: 13px;
}
.ho {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  background-color: #00000098;
  height: 100px;
  width: 100%;
  color: white;
  border-radius: 20px;
  text-align: center;
  align-content: center;

}
.upper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #00000091;
  /* height: auto; */
  padding-top: 65px;
  padding-bottom: 10px;
  color: white;
}
button{
  padding: 5px 15px;
  margin: 0 15px;
}
